<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payProject.system.mapper.ResourcesMapper">
  <resultMap id="BaseResultMap" type="com.payProject.system.entity.Resources">
    <result column="resourcesId" jdbcType="INTEGER" property="resourcesId" />
    <result column="resourcesName" jdbcType="VARCHAR" property="resourcesName" />
    <result column="resourcesType" jdbcType="INTEGER" property="resourcesType" />
    <result column="resourcesKey" jdbcType="VARCHAR" property="resourcesKey" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="resourcesUrl" jdbcType="VARCHAR" property="resourcesUrl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="submitTime" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="submitSystem" jdbcType="VARCHAR" property="submitSystem" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="retain1" jdbcType="VARCHAR" property="retain1" />
    <result column="retain2" jdbcType="VARCHAR" property="retain2" />
    <result column="retain3" jdbcType="VARCHAR" property="retain3" />
    <result column="retain4" jdbcType="VARCHAR" property="retain4" />
    <result column="retain5" jdbcType="VARCHAR" property="retain5" />
    <result column="retain6" jdbcType="VARCHAR" property="retain6" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    resourcesId, resourcesName, resourcesType, resourcesKey, parentId, resourcesUrl, 
    description, createTime, submitTime, submitSystem, status, rank, level, retain1, 
    retain2, retain3, retain4, retain5, retain6
  </sql>
  <select id="selectByExample" parameterType="com.payProject.system.entity.ResourcesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from system_resources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.payProject.system.entity.ResourcesExample">
    delete from system_resources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.payProject.system.entity.Resources">
    insert into system_resources (resourcesId, resourcesName, resourcesType, 
      resourcesKey, parentId, resourcesUrl, 
      description, createTime, submitTime, 
      submitSystem, status, rank, 
      level, retain1, retain2, 
      retain3, retain4, retain5, 
      retain6)
    values (#{resourcesId,jdbcType=INTEGER}, #{resourcesName,jdbcType=VARCHAR}, #{resourcesType,jdbcType=INTEGER}, 
      #{resourcesKey,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{resourcesUrl,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{submitSystem,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{retain1,jdbcType=VARCHAR}, #{retain2,jdbcType=VARCHAR}, 
      #{retain3,jdbcType=VARCHAR}, #{retain4,jdbcType=VARCHAR}, #{retain5,jdbcType=VARCHAR}, 
      #{retain6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.payProject.system.entity.Resources">
    insert into system_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourcesId != null">
        resourcesId,
      </if>
      <if test="resourcesName != null">
        resourcesName,
      </if>
      <if test="resourcesType != null">
        resourcesType,
      </if>
      <if test="resourcesKey != null">
        resourcesKey,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="resourcesUrl != null">
        resourcesUrl,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="submitTime != null">
        submitTime,
      </if>
      <if test="submitSystem != null">
        submitSystem,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="retain1 != null">
        retain1,
      </if>
      <if test="retain2 != null">
        retain2,
      </if>
      <if test="retain3 != null">
        retain3,
      </if>
      <if test="retain4 != null">
        retain4,
      </if>
      <if test="retain5 != null">
        retain5,
      </if>
      <if test="retain6 != null">
        retain6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourcesId != null">
        #{resourcesId,jdbcType=INTEGER},
      </if>
      <if test="resourcesName != null">
        #{resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="resourcesType != null">
        #{resourcesType,jdbcType=INTEGER},
      </if>
      <if test="resourcesKey != null">
        #{resourcesKey,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="resourcesUrl != null">
        #{resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitSystem != null">
        #{submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="retain1 != null">
        #{retain1,jdbcType=VARCHAR},
      </if>
      <if test="retain2 != null">
        #{retain2,jdbcType=VARCHAR},
      </if>
      <if test="retain3 != null">
        #{retain3,jdbcType=VARCHAR},
      </if>
      <if test="retain4 != null">
        #{retain4,jdbcType=VARCHAR},
      </if>
      <if test="retain5 != null">
        #{retain5,jdbcType=VARCHAR},
      </if>
      <if test="retain6 != null">
        #{retain6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.payProject.system.entity.ResourcesExample" resultType="java.lang.Integer">
    select count(*) from system_resources
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update system_resources
    <set>
      <if test="record.resourcesId != null">
        resourcesId = #{record.resourcesId,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesName != null">
        resourcesName = #{record.resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourcesType != null">
        resourcesType = #{record.resourcesType,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesKey != null">
        resourcesKey = #{record.resourcesKey,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parentId = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesUrl != null">
        resourcesUrl = #{record.resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitTime != null">
        submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitSystem != null">
        submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.rank != null">
        rank = #{record.rank,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.retain1 != null">
        retain1 = #{record.retain1,jdbcType=VARCHAR},
      </if>
      <if test="record.retain2 != null">
        retain2 = #{record.retain2,jdbcType=VARCHAR},
      </if>
      <if test="record.retain3 != null">
        retain3 = #{record.retain3,jdbcType=VARCHAR},
      </if>
      <if test="record.retain4 != null">
        retain4 = #{record.retain4,jdbcType=VARCHAR},
      </if>
      <if test="record.retain5 != null">
        retain5 = #{record.retain5,jdbcType=VARCHAR},
      </if>
      <if test="record.retain6 != null">
        retain6 = #{record.retain6,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update system_resources
    set resourcesId = #{record.resourcesId,jdbcType=INTEGER},
      resourcesName = #{record.resourcesName,jdbcType=VARCHAR},
      resourcesType = #{record.resourcesType,jdbcType=INTEGER},
      resourcesKey = #{record.resourcesKey,jdbcType=VARCHAR},
      parentId = #{record.parentId,jdbcType=INTEGER},
      resourcesUrl = #{record.resourcesUrl,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      rank = #{record.rank,jdbcType=INTEGER},
      level = #{record.level,jdbcType=INTEGER},
      retain1 = #{record.retain1,jdbcType=VARCHAR},
      retain2 = #{record.retain2,jdbcType=VARCHAR},
      retain3 = #{record.retain3,jdbcType=VARCHAR},
      retain4 = #{record.retain4,jdbcType=VARCHAR},
      retain5 = #{record.retain5,jdbcType=VARCHAR},
      retain6 = #{record.retain6,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="findResourceByUserId" parameterType="String" resultType="com.payProject.system.entity.Resources">
	  /*根据用户信息用户对应的资源信息*/
	  SELECT
		  r.*
		FROM
		  system_resources r
		WHERE r.resourcesId IN
		  (SELECT
		    rr.resourcesId
		  FROM
		    system_role_resources rr
		  WHERE rr.roleId IN
		    (SELECT
		      ur.role
		    FROM
		      system_user_role ur
		    WHERE  ur.userId IN (
		SELECT id FROM system_user WHERE userId = #{userId,jdbcType=VARCHAR}
    )))
  </select>
  <!--  -->
  <select id="findRourcesByRoleId" parameterType="Integer" resultType="com.payProject.system.entity.Resources">
  /*根据角色信息查询角色所对应的资源信息*/
  	SELECT 
  <include refid="Base_Column_List" />
	FROM 
		system_resources   
	WHERE 
		resourcesId IN (
			SELECT resourcesId FROM `system_role_resources`
			WHERE roleId = #{roleId}
		)
  </select>
</mapper>