<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payProject.system.mapper.ResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.payProject.system.entity.Resources" >
    <result column="resourcesId" property="resourcesId" jdbcType="INTEGER" />
    <result column="resourcesName" property="resourcesName" jdbcType="VARCHAR" />
    <result column="resourcesType" property="resourcesType" jdbcType="INTEGER" />
    <result column="resourcesKey" property="resourcesKey" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="resourcesUrl" property="resourcesUrl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="submitTime" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="submitSystem" property="submitSystem" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resourcesId, resourcesName, resourcesType, resourcesKey, parentId, resourcesUrl, 
    description, createTime, submitTime, submitSystem, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.payProject.system.entity.ResourcesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from system_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.payProject.system.entity.ResourcesExample" >
    delete from system_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.payProject.system.entity.Resources" >
    insert into system_resources (resourcesId, resourcesName, resourcesType, 
      resourcesKey, parentId, resourcesUrl, 
      description, createTime, submitTime, 
      submitSystem, status)
    values (#{resourcesId,jdbcType=INTEGER}, #{resourcesName,jdbcType=VARCHAR}, #{resourcesType,jdbcType=INTEGER}, 
      #{resourcesKey,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{resourcesUrl,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{submitSystem,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.payProject.system.entity.Resources" >
    insert into system_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourcesId != null" >
        resourcesId,
      </if>
      <if test="resourcesName != null" >
        resourcesName,
      </if>
      <if test="resourcesType != null" >
        resourcesType,
      </if>
      <if test="resourcesKey != null" >
        resourcesKey,
      </if>
      <if test="parentId != null" >
        parentId,
      </if>
      <if test="resourcesUrl != null" >
        resourcesUrl,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="submitTime != null" >
        submitTime,
      </if>
      <if test="submitSystem != null" >
        submitSystem,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourcesId != null" >
        #{resourcesId,jdbcType=INTEGER},
      </if>
      <if test="resourcesName != null" >
        #{resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="resourcesType != null" >
        #{resourcesType,jdbcType=INTEGER},
      </if>
      <if test="resourcesKey != null" >
        #{resourcesKey,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="resourcesUrl != null" >
        #{resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitSystem != null" >
        #{submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.payProject.system.entity.ResourcesExample" resultType="java.lang.Integer" >
    select count(*) from system_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update system_resources
    <set >
      <if test="record.resourcesId != null" >
        resourcesId = #{record.resourcesId,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesName != null" >
        resourcesName = #{record.resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourcesType != null" >
        resourcesType = #{record.resourcesType,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesKey != null" >
        resourcesKey = #{record.resourcesKey,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parentId = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.resourcesUrl != null" >
        resourcesUrl = #{record.resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitTime != null" >
        submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitSystem != null" >
        submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update system_resources
    set resourcesId = #{record.resourcesId,jdbcType=INTEGER},
      resourcesName = #{record.resourcesName,jdbcType=VARCHAR},
      resourcesType = #{record.resourcesType,jdbcType=INTEGER},
      resourcesKey = #{record.resourcesKey,jdbcType=VARCHAR},
      parentId = #{record.parentId,jdbcType=INTEGER},
      resourcesUrl = #{record.resourcesUrl,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="findResourceByUserId" parameterType="Srting" resultType="com.payProject.system.entity.Resources">
  	SELECT
	  r.*
	FROM
	  system_resources r
	WHERE r.resourcesId IN
	  (SELECT
	    rr.resourcesId
	  FROM
	    system_role_resources rr
	  WHERE rr.roleId IN
	    (SELECT
	      ur.role
	    FROM
	      system_user_role ur
	    WHERE ur.userId = #{userId,jdbcType=VARCHAR}))
  
  </select>
  
  
</mapper>